#root {
    text-align: center;
}

input {
    width: 90vw;
    max-width: 900px;
    padding: 5px;
    margin: 5px;
}

#arr {
    padding: 30px;
    font-weight: 600;
}

#ok {
    padding: 5px;
    margin: 10px;
}

#header {
    display: inline-block;
}